* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "nav nav"
      "header header"
      "main main"
      "section section"
      "div div"
      "article article"
      "footer footer";
    font-family: "DM Sans", sans-serif;
  }
  
  nav {
    grid-area: nav;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: nav;
    gap: 50px;
  }
  button {
    background-color: blueviolet;
    color: white;
    border-radius: 100px;
    
  }
  header {
    display: grid;
    grid-area: header;
    margin-top: 10px;
    background-image: url("manos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    justify-items: center;
  }
  .headercl{
    padding-top: 150px;
  }
  main {
    grid-area: main;
    background-color: #5298ff;
    color: white;
  }
  .medio1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "imagen1 texto1";
    padding-left: 70px;
  }
  .medio2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "texto2 imagen2";
    padding-right: 70px;
  }
  .imagen1 {
    width: 800px;
    grid-area: imagen1;
    padding-top: 50px;
  }
  .imagen2 {
    width: 800px;
    grid-area: imagen2;
    padding-left: 70px;
    padding-bottom: 50px;
  }
  .texto1 {
    grid-area: texto1;
    padding-right: 70px;
    padding-top: 70px;
  }
  .texto2 {
    grid-area: texto2;
    padding-left: 70px;
    padding-top: 90px;
  }
  .texto {
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 100px;
  }
  .uno {
    background-color: #dc3545;
    border-radius: 10px;
  }
  .dos {
    background-color: #ff9c07;
    border-radius: 10px;
  }
  .tres {
    background-color: #28a745;
    border-radius: 10px;
  }
  .cuatro {
    background-color: #17a2b8;
    border-radius: 10px;
  }
  .contenedores{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 180px;
  }
  .seccion {
    display: flex;
    gap: 15px;
    color: white;
  }
  .iconomano {
    width: 40px;
    height: 50px;
  }
  .iconodonar {
    width: 40px;
    height: 50px;
  }
  .iconoreciclar {
    width: 40px;
    height: 50px;
  }
  .iconomaletin {
    width: 40px;
    height: 50px;
  }
  .iconomas{
    width: 15px;

  }
  .notis {
    display: flex;
    padding: 55px;
    justify-content: space-between;
  }
  .iconitos{
    width: 15px;
    height: 15px;
   
  }
  .notifias {
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #5298ff;
  }
  .carteles {
    display: grid;
    background-color: white;
    border-radius: 10px;
    height: 600px;

  }
  .fotos {
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }
  .contenedor {
    width: 23%;
  }
  
  .divs {
    grid-area: div;
    background-color: #5298ff;
  }
 
  .textoabajo_uno {
    padding: 20px;
  }

.fecha{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.calendario{
    display: flex;
    gap: 5px;
    align-items: center;
}
article{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-area: article;

}
.contacto{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 100px;
  
}
.img{
  width: 600px;
  height: 300px;
  margin-left: 100px;
  margin-right: 25px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: footer;
    background-color: #5227cc ;
    color: white;
  }

  @media (max-width: 390px) {
    body {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-areas:
        "nav"
        "header"
        "main"
        "section"
        "div"
        "article"
        "footer";
      font-family: "DM Sans", sans-serif;
    }
    nav {
      grid-area: nav;
    }
    header {
      grid-area: header;
    }
    main {
      grid-area: main;
    }
    .texto {
      grid-area: section;
    }
    .divs {
      grid-area: div;
    }
    article{
      grid-area: article;
    }
    footer {
      grid-area: footer;
    }
    .seccion {
      display: flex;
      flex-direction: column;
    }
    .imagen1 {
      width: 250px;
    }
    .imagen2 {
      width: 250px;
    }
  }
  .modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
.empresa{
  color: #5296ff;
  padding-left: 20px;
}
.organizacion{
  color: #7749f8;
  padding-left: 20px;
}
.textomaletin{
  padding: 20px;
}
.imgprincipal{
  width: 500px;
  height: 600px;
}
.registrar{
  text-align: center;
}
.costadoimg{
  display: flex;
  flex-wrap: wrap;
  border: 2px outset;
  border-radius: 15px;
  align-items: center;
  margin: 50px;
  height: 200px;
}
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .maletin{

    background-color: #5296ff;
    
  }
  .personas{
    background-color: #7749f8;

  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }